{% extends 'main/base.html' %}
<link rel="stylesheet" type="text/css" href="static/style.css">
{% block title %}
О нас
{%endblock%}
{% block body %}
    <h2>О нас</h2><hr>

    <a>Насчет рекламы тут:gymofboss@gmail.com</a>
<div class="cs-online-edit cs-page__item-background"><a class="cs-online-edit__link" data-edit-role="companyInfo" title="Изменить информацию о компании" style="display:none"></a><a class="cs-online-edit__horizontal-borders" data-edit-role="companyInfo" style="display:none"></a><a class="cs-online-edit__vertical-borders" data-edit-role="companyInfo" style="display:none"></a><div class="b-user-content"><p><a>Do you want to know the continuation of the anime, but the season is over?Time to read the manga!Manga Check contains the most popular titles in Japan.From the Death Note to Dr. Stone&nbsp;</a></p>
     <div class=social-btns>
        <a class="btn facebook" href="#"><img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fru.tradingview.com%2Fsymbols%2FNASDAQ-FB%2F&psig=AOvVaw0RS0QmFp5JpX_9BxbF1TJG&ust=1636123543452000&source=images&cd=vfe&ved=0CAgQjRxqFwoTCIjc56v5_vMCFQAAAAAdAAAAABAD" width="10px" height="5px"><i class="fa fa-facebook"></i></a>
        <a class="btn skype" href="#"><i class="fa fa-skype"></i></a>
        <a class="btn google" href="#"><i class="fa fa-google"></i></a>
        <a class="btn twitter" href="#"><i class="fa fa-twitter"></i></a>
    </div>
</div></div>
{% endblock %}